.jumbotron {
    background-color:#F2F3F4;
    margin-bottom: 30px;
}
.jumbotron img {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 30px;
    
}
.lead {
    text-align: justify;
}

div h3 {
    margin-bottom: 20px;
}

.mid {
    color: #000000;
}

.vl {
    border-left: 1px solid #000000;
  height: 15px;
  margin-top: 14px;
}

img.logo {
    margin: 0px;
    padding: 0px;
    border: 0px;

}
.card-title {
    margin-top: 30px;
}
.card {
    margin-top: 30px;
    margin-bottom: 20px;
}

.amenities{
    width: 250px;
}
.modal-body {
    width: 100%;
}