.jumbotron {
    background-color:#F2F3F4;
    margin-bottom: 30px;
}
.jumbotron img {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 30px;
    
}
img.logo {
    margin: 0px;
    padding: 0px;
    border: 0px;

}
.mid {
    color: #000000;
}

.vl {
    border-left: 1px solid #000000;
  height: 15px;
  margin-top: 14px;
}

.banner {
    margin-top: 20px;
}
.options {
    margin-top: 30px;
}
.submit {
    margin: auto;
}